.navigation {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;

    .nav-links-container {
        display: flex;
        align-items: center;
    }
}